<!-- <p>add-album works!</p> -->
<!-- <form >
    <div class="form-group">
        <label for="name">Name :</label>
        <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp"
            placeholder="Enter artist name">
        <div  class="alert alert-danger">
            <div >
                Name is required
            </div>
            <div >
                Name must be at least 5 characters long.
            </div>
        </div>
    </div>
</form> -->
<div class="container-sm">
    <form action="">
        <div class="form-group">
            <label for="name" class="text-white fw-3 fs-4">Name: </label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="ref" class="text-white fw-3 fs-4">Ref: </label>
            <input type="text" class="form-control" id="ref" placeholder="Enter Ref">
        </div>
        <div class="form-group">
            <label for="title" class="text-white fw-3 fs-4">Title: </label>
            <input type="text" class="form-control" id="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="description" class="text-white fw-3 fs-4">Description: </label>
            <input type="text" class="form-control" id="description" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <label for="duration" class="text-white fw-3 fs-4">Duration: </label>
            <input type="text" class="form-control" id="duration" placeholder="Duration">
        </div>
        <button type="submit" class="btn btn-primary mt-2">ADD</button>
    </form>
</div>