<!-- <p style="color: white;">login works!</p> -->
<div [@fadeInAnimation]>
    <form >
      <fieldset class="border border-2 border-white rounded p-4 row content">
        <!-- <legend>Connexion</legend> -->
          <div class="form-group col-sm-6 mb-3">
              <label class="text-white fs-1" for="exampleInputEmail1">Email address</label>
              <input name="email" ngModel email required type="email" class="form-control fs-5 mb-2" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text fs-4 text-white mb-4">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group col-sm-6">
              <label class="text-white fs-1" for="exampleInputPassword1">Password</label>
              <input name="password" ngModel required type="password" class="form-control fs-5 mb-3" id="exampleInputPassword1"
                  placeholder="Password">
          </div>
          <div class="form-check">
              <input type="checkbox" class="form-check-input " id="exampleCheck1">
              <label class="form-check-label text-white mb-2" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </fieldset>
    </form>
</div>