<!-- <p>album-details works!</p> -->
<div class="container-fuild principal" *ngIf="albums">
    <div class="col-sm-4 video" *ngFor="let mut of albums">
        <div class="card">
            <img class="card-img-top" src="./assets/images/default_image.png" alt="Group Music">
            <div class="card-body">
                <h5 class="card-title">{{ mut.title }}</h5>
                <p class="card-text">{{ mut.name }}</p>
                <a href="#" class="btn btn-primary">Play >> </a>
            </div>
            <ul class="list-group">
                <li class="list-group-item active">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div><!-- .video -->
</div>