<div class="card border border-1" *ngIf="album" style="background-color: rgb(74, 74, 74);" [@fadeInAnimation]>
    <!-- <img class="card-img-top" src="{{album.url}}" alt="Group Music"> -->
    <img class="card-img-top" src="../assets/images/party.jpg" alt="Group Music">
    <div class="card-body" style="width: 100%;">
        <h5 class="card-title" style="text-transform: capitalize; font-weight: 700; font-size: 1.3rem; color: white;">{{album.title}}
        </h5>
        <p class="card-text" style="text-transform: capitalize; font-weight: 500; font-size: 1.1rem; color: white;">{{album.name}}</p>
        <button (click)="play(album)" class="btn mx-2"
            style="background-color: rgb(225, 155, 2);color: rgb(249, 232, 224); font-size: 1.2rem; font-weight: 600;">Play
            <span class="fas fa-play ms-2"></span>
        </button>
        <button  class="btn" (click)="hide(album)"
            style="background-color: rgb(225, 54, 2);color: rgb(249, 232, 224); font-size: 1.2rem; font-weight: 600;">Hide
            <span class="ms-2"></span>
        </button> 
        <button *ngIf="songs" (click)="shuffleAlbum(songs)" class="btn btn-success">Aléatoire</button>
    </div>
    <div *ngIf="songs; then ifBlock; else elseBlock"></div>
    <ng-template #ifBlock>
        <ul class="list-group border border-0">
            <li class="list-group-item border border-0" *ngFor=" let tab of songs"
                style="text-transform: capitalize; background-color: rgb(82, 82, 82); color: white; font-weight: 600; font-size: 1.1rem;">
                {{ tab }}</li>
        </ul>
    </ng-template>
    <ng-template #elseBlock>
        <ul>
            <li class="list-group-item">Pas de son pour cet album</li>
          </ul>
    </ng-template>
</div>
