<!-- <p>albums works!</p> -->
<div class="container-fuild principal d-xl-flex justify-content-center ml-4" *ngIf="albums">
        <div class="col-sm-4 video" >
            <!-- AlbumDetails communication parent vers enfant -->
            <app-album-details [album]="selectedAlbum" ></app-album-details>
        </div>
        <div>
            <div>
                <h1>{{ titlePage }}</h1>
            </div>
            <div class="col-sm-8 music" *ngFor="let album of albums">
                <div>
                    <div class="card d-flex flex-column">
                        <div class="card-header">
                            Pop
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ album.title }} </h5>
                            <p class="card-text"> {{ album.description }} </p>
                            <ul class="list-group list-group-horizontal mb-3 col-sm-3 fw-bold" >
                                <li class="list-group-item list-group-item-action list-group-item-success mx-1 rounded"  *ngFor="let tag of album.tags">{{tag}}</li>
                            </ul>
                            <a class="btn btn-outline-dark" href="#" role="button">en</a>
                            <img class="glyph-icon " width="15px" height="auto" src="./assets/svg/si-glyph-heart.svg" />
                            <small>3</small>
                            <img class="glyph-icon" width="15px" height="auto" src="./assets/svg/si-glyph-timer.svg" />
                            <small> {{album.duration}} min</small><br>
                            <button type="button" class="mt-2" (click) ="onSelect(album)">Savoir plus</button>
                        </div>
                    </div>
                </div><!-- .card -->
            </div>
        </div><!-- .music -->
    
</div>